.App {
  text-align: center;
}
label{
  display: flex;
  margin-bottom: 0.5em;
  color: #363636;
  font-size: 14px;
  font-weight: 600;
}
input{
  display: block;
  font-size: 1rem;
  height: 2.5em;
  line-height: 1.5;
  color:#555;
  border:1px solid #ccc;
  border-radius: 4px;
  outline: none;
}
input:focus{
  border: 1px solid blue;
}
.is-danger{
  border: 1px solid red !important;
}
.is-success{
  border:1px solid green !important
}
.input-padding{
  
  padding-bottom: calc(.5em - 1px);
  padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    
  }
  .has-right-icon{
    padding-right: 2.5em;
  }
  button{
    display: flex;
}
.form-control{
  margin-bottom: 20px;
}
.error{
  display: flex;
  color: red;
}
.login-bg{
    background-image: linear-gradient(141deg,#1c4e7f 60%,#012242)!important;
}

.button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  cursor: pointer;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: calc(.5em - 1px);
  padding-left: 1em;
  padding-right: 1em;
  padding-top: calc(.5em - 1px);
  text-align: center;
  white-space: nowrap;
  border-radius: 4px;
}
.login-btn{
  background: #1c4e80!important;
  font-size: 12px;
  line-height: 15px;
  color: #fff;
  border-color: transparent;
}
.hero.is-fullheight {
  min-height: 100vh;
}
.hero-body, .section {
  padding: 3rem 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns:60% 40%;
  background-color: #2196F3;
}
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid red;  
}

.card-content{
  padding: 12px;
}

/* ***** ICONS ****
.control {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  clear: both;
  font-size: 1rem;
  position: relative;
  text-align: inherit;
}
.icon {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 1.5rem;
  width: 1.5rem;
}
.has-text-success {
  color: #48c774!important;
}
.control.has-icons-left .icon, .control.has-icons-right .icon {
  color: #dbdbdb;
  height: 2.5em;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 2.5em;
  z-index: 4;
}
.control.has-icons-right .icon.is-right {
  right: 0;
}

.fa, .fas {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
.fa, .fab, .fal, .far, .fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
.fa-check:before {
  content: "\f00c";
} */